/* General
 ******************************************************************************/
* {
  box-sizing: border-box;
}
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #333;
}

/* Panels
 ******************************************************************************/
.panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.panel .panel-heading {

}
.panel .panel-title {

}
.panel .panel-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.panel .panel-body > * {
  flex: 1;
}

/* Flow Horizontal */
.panel.flow-horizontal > .panel-body {
  flex-direction: row;
}
.panel.flow-horizontal > .panel-body > * {
  margin-right: 10px;
}
.panel.flow-horizontal > .panel-body > *:last-child {
  margin-right: 0;
}

/* Flow Vertical */
.panel.flow-vertical > .panel-body {
  flex-direction: column;
}
.panel.flow-vertical > .panel-body > * {
  margin-bottom: 10px;
}
.panel.flow-vertical > .panel-body > *:last-child {
  margin-bottom: 0;
}

/* Theme */
.panel-default {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.panel-default > .panel-heading {
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-default > .panel-heading .panel-title {
  color: #ccc;
  text-shadow: none;
  font-weight: normal;
}

/* App
 ******************************************************************************/
.app {
  height: 100%;
  background: transparent;
  border: none;
}
